<!DOCTYPE html>
<html lang="{{lang}}">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>{{{title}}}</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">

    <link rel="shortcut icon" href="/favicon.png" type="image/png" />
    <link rel="canonical" href="{{shop_url}}" />
    <meta name="referrer" content="no-referrer-when-downgrade" />
    <style>
        h2,
        h3,
        h4,
        h5 {
            margin: 3vw 1vw 1vw;
        }
        h1 {
            font-size: 2em;
            font-weight: 700;
        }
        h2 {
            font-size: 1.5em;
        }

        body {
            font-family: Lora, serif;
        }
    </style>
</head>

<body class="page-template">
    <nav style="background:#F5CAB3">
        <div class="nav-wrapper container">
            <a href="/"><img style="margin:auto;width:60px;float:left" src="/shop/assets/images/logo.png"></a>
            <a href="#" data-target="mobile" class="sidenav-trigger right black-text hide-on-med-and-up"><i
                    class="material-icons">menu</i></a>
            <ul id="right-nav" class="left">
                {{#if shop_blog}}<li><a class="black-text" href="{{shop_blog}}">Blog</a></li>{{/if}}
                {{#if shop_about}}<li><a class="black-text" href="{{shop_about}}">About</a></li>{{/if}}
                {{#if shop_url}}<li><a class="black-text" href="{{shop_url}}">Shop</a></li>{{/if}}
            </ul>
            <ul id="left-nav" class="right hide-on-small-and-down">
                {{#if shop_subscribe}}<li><a class="black-text btn white" href="{{shop_subscribe}}">Subscribe</a></li>
                {{/if}}
                {{#if shop_instagram}}<li><a class="black-text" href="{{shop_instagram}}"><i
                            class="fab fa-instagram"></i></a></li>{{/if}}
                {{#if shop_facebook}}<li><a class="black-text" href="{{shop_facebook}}"><i
                            class="fab fa-facebook-f"></i></a></li>{{/if}}
            </ul>
        </div>
    </nav>

    <ul class="sidenav center" id="mobile">
        {{#if shop_subscribe}}<li><a class="black-text btn" style="background:#F5CAB3" href="{{shop_subscribe}}">Subscribe</a></li>
        {{/if}}
        {{#if shop_instagram}}<li><a class="black-text" href="{{shop_instagram}}"><i class="fab fa-instagram"></i><span class="left">Instagram</span></a>
        </li>{{/if}}
        {{#if shop_facebook}}<li><a class="black-text" href="{{shop_facebook}}"><i class="fab fa-facebook-f"></i><span class="left">Facebook</span></a>
        </li>{{/if}}
    </ul>

    <div class="container">{{{body}}}</div>

    <footer class="page-footer black">
        <div class="container">
            <section class="copyright"></section>
            <div class="row">
                <div class="col s6">
                    <p><a class="grey-text text-lighten-3" href="{{shop_url}}">{{shop_title}}</a> &copy; 2019</p>
                </div>
                <div class="col s6">
                    {{#if shop_blog}}<p><a class="grey-text text-lighten-3" href="{{shop_blog}}">Latest Posts</a></p>
                    {{/if}}
                    {{#if shop_facebook}}<p><a class="grey-text text-lighten-3" href="{{shop_facebook}}" target="_blank"
                            rel="noopener">Facebook</a></p>{{/if}}
                </div>
            </div>
        </div>
    </footer>

    <script>
        $(document).ready(function () {
            $('.sidenav').sidenav({edge: 'right'});
        });
    </script>
</body>

</html>
